 @font-face {
     font-family: 'FiraCode';
     src: url(font/FiraCode-Medium.ttf);
 }

 :root {
     --background-color: rgb(13, 13, 40);
     --timer_bg: rgb(26, 26, 66);
     --timer_border: rgb(47, 47, 81);
 }

 * {
     margin: 0;
     font-family: 'FiraCode';
     font-size: 20px;
     text-align: center;
     transition: all 400ms ease;

 }

 body {
     background-color: var(--background-color);
     height: 100vh;

 }

 .container {
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .container .timer {
     width: 550px;
     height: 500px;
     background-color: var(--timer_bg);
     border-radius: 30px;
     border: 2px solid var(--timer_border);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     padding-bottom: 1%;
 }


 .container .timer:hover {
     box-shadow: 0px 0px 30px var(--timer_border);
 }

 .container .timer .top {
     padding-top: 4%;
     height: 60%;
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: flex-start;
     flex-direction: column;
     gap: 20%;

 }

 .container .timer .top h3 {
     color: rgb(221, 221, 221);
 }

 .container .timer .top .down button:hover {
     transform: translateY(-5%);
 }

 .container .timer .top .down button {
     width: 100px;
     height: 50px;
     border-radius: 15px;
     border: 0;
     color: white;
     cursor: pointer;
 }

 .container .timer .top .down {
     display: flex;
     gap: 10%;
 }

 .container .timer .top .down button#play {
     background-color: rgb(10, 123, 31);
     box-shadow: 0px 0px 10px rgb(10, 123, 31);
 }

 .container .timer .top .down button#stop {
     background-color: rgb(123, 10, 31);
     box-shadow: 0px 0px 10px rgb(123, 10, 31);
 }

 .container .timer .top .down button#reset {
     background-color: rgb(180, 163, 13);
     box-shadow: 0px 0px 10px rgb(184, 167, 10);
 }


 .container .timer .bottom {
     height: 40%;
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 10%;
 }

 .container .timer .top h1 {
     font-size: 50px;
     color: white;
 }

 .container .timer .bottom {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 30px;
     flex-wrap: wrap;
     height: 40%;
     width: 90%;
     border-top: .5px solid var(--timer_border);

 }

 .container .timer .bottom p {
     color: white;
 }

 .container .timer .bottom .down {
     display: flex;
     gap: 5%;
     align-items: flex-end;
     justify-content: center;
     height: 60%;
     flex-wrap: wrap;
     justify-self: flex-end;
     box-sizing: border-box;
     padding-bottom: 1%;
     width: 100%;

 }

 .container .timer .bottom .down button {
     width: 60px;
     height: 40px;
     border-radius: 10px;
     font-size: 15px;
     border: 0;
     color: white;
     cursor: pointer;
     background-color: rgb(17, 132, 225);
     box-shadow: 0px 0px 10px rgb(17, 132, 225);
 }

 .container .timer .bottom .down button:hover {
     transform: translateY(-5%);
 }

 .hidden {
     display: none;
 }